In [ ]:
#reloj parlante
def reloj_parlante(reloj):
    hora=reloj[0:2]
    minutos=reloj[3:5]
    tipo=reloj[6:]
    if (tipo =='am' ):
        tipo='mañana.'
    elif (tipo =='pm'):
        hora_int=int(hora)
        if (hora_int<6 and hora_int>11):
            tipo='tarde.'
        elif(hora_int>11):
            tipo='tarde.'
        else:
            tipo= 'noche'
    hora_p = int(hora)
    if (hora_p<10):
        hora=reloj[1:2]
    else:
        hora=reloj[0:2]
    return ("Son las "+(hora)+" y "+(minutos)+" de la "+(tipo))
a=str(input( 'Ingrese la hora:'))
texto = reloj_parlante(a)
print(texto)

Ingrese la hora:12:56 am
Son las 12 y 56 de la mañana.

In [ ]:
#ordenar números
def ordenar(b,c,d):
    if(b>c and b>d and c>d):
            tupla_1=(d,c,b)
            print (tupla_1)
    elif(b>c and b>d and d>c):
            tupla_2=(c,d,b)
            print (tupla_2)
    elif(c>b and c>d and d>b):
            tupla_3=(b,d,c)
            print (tupla_3)
    elif(c>b and c>d and b>d):
            tupla_4=(d,b,c)
            print (tupla_4)
    elif(d>b and d>c and c>b):
            tupla_5=(b,c,d)
            print (tupla_5)
    elif(d>b and d>c and b>c):
            tupla_6=(c,b,d)
            print (tupla_6)
b=int(input('Ingrese el primer numero:'))
c=int(input('Ingrese el segundo numero:'))
d=int(input('Ingrese el tercer numero:'))
ordenar(b,d,c)

Ingrese el primer numero:45
Ingrese el segundo numero:87
Ingrese el tercer numero:12
(12, 45, 87)

In [ ]:
#convertidor dolar, euro, colón
def convertidor(e,f):
    if(f=='dólar'):
        g=round(e / 610.64,2)
        print(g)
    elif(f=='euro'):
         h=round(e / 729.91,2)
         print(h)
    else:
        print(-1)
f=str(input('Ingrese la moneda:'))
e=float(input('Ingrese el monto en colones:'))
convertidor(e,f)

Ingrese la moneda:euro
Ingrese el monto en colones:500000
685.02

In [ ]:
#desglose de billetes
centenas=int(input('Ingrese el monto en dólares:'))
de_100=centenas//100
decenas= centenas%100
de_50= decenas//50
de_20= (decenas-(de_50*50))//20
de_10= (decenas-(de_50*50)-(de_20*20))//10
de_5= (decenas-(de_50*50)-(de_20*20)-(de_10*10))//5
de_1= (decenas-(de_50*50)-(de_20*20)-(de_10*10)-(de_5*5))
print(de_100,'Billetes de 100 ')
print(de_50,'Billetes de 50 ')
print(de_20,'Billetes de 20 ')
print(de_10,'Billetes de 10 ')
print(de_5,'Billetes de 5 ')
print(de_1,'Billetes de 1 ')

Ingrese el monto en dólares:1243689
12436 Billetes de 100
1 Billetes de 50
1 Billetes de 20
1 Billetes de 10
1 Billetes de 5
4 Billetes de 1

In [ ]:
#convertidor m, cm o km
med_inicial=str(input('Ingrese la medida inicial (cm, m o km):'))
med_final=str(input('Ingrese la medida a la que quiere convertir su dato (cm, m o km):'))
medida=int(input('Ingrese la medida a convertir:'))
if(med_inicial=='cm' and med_final=='m'):
    print(medida/100, 'metros')
if(med_inicial=='cm' and med_final=='km'):
    print(medida/100000, 'kilómetros')
if(med_inicial=='m' and med_final=='cm'):
    print(medida*100, 'centímetros')
if(med_inicial=='m' and med_final=='km'):
    print(medida/1000, 'kilómetros')
if(med_inicial=='km' and med_final=='m'):
    print(medida*1000, 'metros')
if(med_inicial=='km' and med_final=='cm'):
    print(medida*100000, 'centímetros')

Ingrese la medida inicial (cm, m o km):km
Ingrese la medida a la que quiere convertir su dato (cm, m o km):cm
Ingrese la medida a convertir:20
2000000 centímetros